In [80]:
import pandas as pd
import requests
import time
import csv
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Load imbd movies dataset
url = '/Users/mbouch17/Desktop/IronHack/Labs &  Project/Project-3-Week-3/final_merged_file.csv'
df = pd.read_csv(url)
######### Year column #########
df['Year_y'] = np.where(df['Year_y'].isnull(), df['Year_x'], df['Year_y'])
df.drop('Year_x', axis=1, inplace=True)

######### Year column #########
# Merge Genre_x and Genre_y into a new column called 'Genre'
df['Genre'] = df['Genre_x'].fillna('') + df['Genre_y'].fillna('')
df['Genre'] = df['Genre'].str.strip()

df.drop('Genre_x', axis=1, inplace=True)
df.drop('Genre_y', axis=1, inplace=True)

######### Metascore column #########
df['Metascore_y'] = df['Metascore_y'].fillna(df['Metascore_x'])
df.drop(columns=['Metascore_x'], inplace=True)
df.rename(columns={'Metascore_y': 'Metascore'}, inplace=True)

######### Metascore column #########
df['Director_y'] = df['Director_y'].fillna(df['Director_x'])
df.drop(columns=['Director_x'], inplace=True)
df.rename(columns={'Director_y': 'Director'}, inplace=True)

df.columns = df.columns.str.replace(r'(_x_x|_x_y|_x|_y)$', '', regex=True)

######### imdbRating column #########
# Replace null values in 'imdbRating' with values from 'Rating'
df['imdbRating'] = df['imdbRating'].fillna(df['Rating'])
df.drop(columns=['Rating'], inplace=True)

######### Cast column #########
df['Cast'] = df['Cast'].fillna(df['Actors'])
df.drop('Actors', axis=1, inplace=True)

###### Runtime and Duration Merge #######
# Replace null values in 'Duration' with values from 'Runtime'
df['Runtime'] = df['Runtime'].str.replace('[^0-9.]', '', regex=True)
df['Runtime'] = pd.to_numeric(df['Runtime'])
df['Duration'] = df['Duration'].fillna(df['Runtime'])
df.drop(columns=['Runtime'], inplace=True)

# Drop rows where 'BoxOffice' is NaN or empty
df = df.dropna(subset=['BoxOffice'])
df = df[df['BoxOffice'] != '']


###Remove limits in columns and rows display###
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.head()

,Title,Certificate,Duration,Cast,Votes,Description,Review_Count,Review_Title,Review,Poster,Year,Rated,Plot,Metascore,Director,imdbRating,imdbVotes,Awards,Country,Language,BoxOffice,Review Count,Review Title,Genre
0,10 Cloverfield Lane,A,103.0,"John Goodman, Mary Elizabeth Winstead, John Ga...","355,492",A young woman is held in an underground bunker...,565,10 Cloverfield Lane,"Two months ago, no one knew that 10 Cloverfiel...",https://m.media-amazon.com/images/M/MV5BMjEzMj...,2016,PG-13,A young woman is held in an underground bunker...,76.0,Dan Trachtenberg,7.2,"361,826",16 wins & 48 nominations,United States,English,"$72,082,998",NaN,NaN,"Drama, Horror, MysteryDrama, Horror, Mystery"
1,12 Monkeys,A,129.0,"Bruce Willis, Madeleine Stowe, Brad Pitt, Jose...","647,448","In a future world devastated by disease, a con...",618,these monkeys will go to heaven...,"""Twelve monkeys""'s got all the elements to bec...",https://m.media-amazon.com/images/M/MV5BN2Y2OW...,1995,R,"In a future world devastated by disease, a con...",74.0,Terry Gilliam,8.0,"651,903",Nominated for 2 Oscars. 11 wins & 25 nominatio...,United States,"English, French, Latin, Spanish, German","$57,141,459",NaN,NaN,"Mystery, Sci-Fi, ThrillerMystery, Sci-Fi, Thri..."
2,12 Years a Slave,A,134.0,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...","742,226","In the antebellum United States,Solomon Northu...",681,Slavery is an evil that should befall none,12 Years a Slave tells the true story of Solom...,https://m.media-amazon.com/images/M/MV5BMjExMT...,2013,R,"In the antebellum United States, Solomon North...",96.0,Steve McQueen,8.1,"750,182",Won 3 Oscars. 244 wins & 337 nominations total,"United Kingdom, United States",English,"$56,671,993",NaN,NaN,"Biography, Drama, HistoryBiography, Drama, His..."
4,13 Going on 30,UA,98.0,"Jennifer Garner, Mark Ruffalo, Judy Greer, And...","217,535",Unpopular schoolgirl Jenna Rink makes an unusu...,375,Jennifer Garner rules,It's impossible to imagine this film with anyo...,https://m.media-amazon.com/images/M/MV5BMjE1Nz...,2004,PG-13,Unpopular schoolgirl Jenna Rink makes an unusu...,57.0,Gary Winick,6.3,"222,736",11 nominations,United States,"English, Portuguese","$57,231,747",NaN,NaN,"Comedy, Fantasy, RomanceComedy, Fantasy, Romance"
5,13 Hours: The Secret Soldiers of Benghazi,A,144.0,"John Krasinski, Pablo Schreiber, James Badge D...","161,166","During an attack on a U.S. compound in Libya, ...",355,13 Hours that didn't have to be...,For the movie I gave it an 8. That's based on ...,https://m.media-amazon.com/images/M/MV5BYjY0OW...,2016,R,"During an attack on a U.S. compound in Libya, ...",48.0,Michael Bay,7.3,"164,085",Nominated for 1 Oscar. 5 nominations total,"United States, Malta","English, Arabic","$52,853,219",NaN,NaN,"Action, Drama, HistoryAction, Drama, History"

In [11]:
df['GenreID'] = df['Title'] + '-' + df['Genre']

# Group by GenreID and calculate your desired statistics
genre_statistics = df.groupby('GenreID').agg({
    'imdbRating': 'mean',
    'imdbVotes': 'sum',
    'BoxOffice': 'sum'
}).reset_index()

KeyError: 'columns'

In [5]:
# Table 1: Sorted by average rating and vote count (already sorted in previous steps)
print("Table 1: Sorted by Average Rating and Vote Count")
genre_statistics_df.round(2)

Table 1: Sorted by Average Rating and Vote Count

NameError: name 'genre_statistics_df' is not defined

In [77]:
# Plot 1: Average IMDb Ratings by Genre
plt.figure(figsize=(8, 5))
sns.barplot(x='avg_rating', y='Genre', data=genre_stats)
plt.title('Average IMDb Ratings by Genre')
plt.show()

NameError: name 'genre_stats' is not defined

In [ ]:
# Table 3: Sorted by avg_box_office in descending order
genre_statistics_df['avg_box_office'] = genre_statistics_df['avg_box_office'].astype(str)
genre_statistics_df['avg_box_office'] = genre_statistics_df['avg_box_office'].replace({'\$': '', ',': ''}, regex=True).astype(float)
genre_stats_by_box_office = genre_statistics_df.sort_values(by='avg_box_office', ascending=False)
print("\nTable 3: Sorted by Average Box Office")
genre_stats_by_box_office.round(2)

In [ ]:
# Table 3: Sorted by avg_box_office in descending order
genre_stats_by_box_office = genre_stats.sort_values(by='avg_box_office', ascending=False, key=lambda x: x.str.replace('[$,]', '', regex=True).astype(float))
print("\nTable 3: Sorted by Average Box Office")
genre_stats_by_box_office.round(2)

In [ ]:
# Plot 2: Average Votes by Genre
plt.figure(figsize=(8, 5))
sns.barplot(x='avg_votes', y='Genre', data=genre_stats_by_votes)
plt.title('Average Votes by Genre')
plt.show()

In [ ]:
# Plot 3: Average Box Office by Genre
plt.figure(figsize=(8, 5))
sns.barplot(x='avg_box_office_numeric', y='Genre', data=genre_stats)
plt.title('Average Box Office by Genre')
plt.show()