In [9]:
# Import libraries
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns 
from datetime import datetime, date
import scipy.stats as stats
import statistics as st

df_male=pd.read_csv('Mens_Boston_Marathon_Winners.csv')
df_female=pd.read_csv('Womens_Boston_Marathon_Winners.csv')

In [11]:
df_male.shape

(126, 6)

In [13]:
df_female.shape

(57, 6)

In [15]:
df_male.head()

,Year,Winner,Country,Time,Distance (Miles),Distance (KM)
0,1897.0,John McDermott,United States,02:55:10,24.5,39.4
1,1898.0,Ronald MacDonald,Canada,02:42:00,24.5,39.4
2,1899.0,Lawrence Brignolia,United States,02:54:38,24.5,39.4
3,1900.0,Jack Caffery,Canada,02:39:44,24.5,39.4
4,1901.0,Jack Caffery,Canada,02:29:23,24.5,39.4

In [17]:
df_female.head()

,Year,Winner,Country,Time,Distance (Miles),Distance (KM)
0,1966.0,Bobbi Gibb,United States,3:21:40,26.2,42.2
1,1967.0,Bobbi Gibb,United States,3:27:17,26.2,42.2
2,1968.0,Bobbi Gibb,United States,3:30:00,26.2,42.2
3,1969.0,Sara Mae Berman,United States,3:22:46,26.2,42.2
4,1970.0,Sara Mae Berman,United States,3:05:07,26.2,42.2